@media (max-width: 576px) {
  .Toggler {
      left: 1.6rem;
      top: 1.2rem;
      height: 3rem;
      width: 3.5rem;
      font-size: 7pt;
  }

  #AboutButton span {
      font-size: 16pt;
  }

  #Sidebar .Nav {
      width: 8rem;
  }

  body.on {
      padding-left: 8rem;
  }

  .Social {
      width: 4rem;
      height: 4rem;
  }
}